<div class="container-fluid justify-content-center">
  <div class="row p-4 pb-0 pe-lg-0 pt-lg-4 align-items-center bg-dark text-white">
    <div class="col-lg-11 p-3 p-lg-5 pt-lg-3 text-justify">
      <h1 class="display-6 fw-bold lh-10">Data Engineer Crafting Business Solutions with Analytics</h1>
      <br>
      <p class="lead">Hello there! I am a dedicated Data Engineer with expertise in Python, SQL, Spark, and Databricks. At Gauge, a division of Stefanini Group, I create innovative solutions for Vivo, a telecommunications leader in Brazil.</p>
      <p class="lead">My daily work involves Python, SQL, Spark, and PySpark in Databricks. Proficient in Google Cloud Platform, I design ETL processes and robust pipelines to ensure high-quality data flow.</p>
      <p class="lead">Previously, at Granbery consulting Group, I led projects in IT, finance, marketing, and business in general. Holding degrees in Computer Information Systems and Business, I pursue certifications in Big Data and Cloud.</p>
      <p class="lead">As a Data Engineer, I merge technical expertise with strategic outlook. Let's connect and explore innovative possibilities together!</p>
      <br>
      <h1 class="display-6 fw-bold lh-10">Languages ​​and tools I use in my day to day work:</h1>
      <br>
    <div class="badge dark-bg">
      <div>
       <img width="50" height="50" src="/assets/img/python-icon.png" alt="image">
       <p>Python</p>
      </div>
      <div>
        <img width="50" height="50" src="/assets/img/sql-icon.png" alt="image">
        <p>SQL</p>
      </div>
      <div>
        <img width="50" height="50" src="/assets/img/spark-icon.png" alt="image">
        <p>Spark</p>
      </div>
      <div>
        <img width="50" height="50" src="/assets/img/databricks-icon.png" alt="image">
        <p>Databricks</p>
      </div>
      <div>
        <img width="50" height="50"src="/assets/img/gcp-icon.png" alt="image">
        <p>Google Cloud Platform</p>
      </div>
    </div>
  </div>
</div>


