<body class="dark-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-6 custom-margin">
        <!-- Div com o formulário -->
        <div>
          <form>
            <div class="form-group">
              <br>
              <br>
              <label for="exampleFormControlInput1">Name:</label>
              <input type="text" class="form-control" id="exampleFormControlInput1">
            </div>
            <br>
            <div class="form-group">
              <label for="exampleFormControlInput1">Email:</label>
              <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
            <br>
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Message:</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="8"></textarea>
              <br>
              <br>
              <button type="button" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold">Send message</button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-6 custom-margin d-flex justify-content-center align-items-center">
        <!-- Div com a imagem -->
        <div>
          <img src="/assets/img/logo3.png" alt="Imagem" width="420" height="420">
        </div>
      </div>
    </div>
  </div>
</body>


