<div class="container-fluid justify-content-center">
  <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center bg-dark text-white">
    <div class="col-lg-11 p-3 p-lg-5 pt-lg-3 text-justify">
      <!-- <h1 class="display-3 fw-bold lh-10">Data Engineer Crafting Business Solutions wiHelloth Analytics</h1> -->
      <div>
        <p class="lead">
          <h1 class="display-12 fw-bold lh-1">Learning Scala as a Python Programmer: Motivations and Functional Programming Introduction</h1>
          <div style="font-style: italic;">Published on April 5, 2023</div>
          <br>
          Are you a Python programmer intrigued by the world of functional programming and looking to broaden your skills? Well, you're not alone! In this series of blog posts, we're going to explore the journey of someone just like you – someone who embarked on a mission to learn Scala, a powerful programming language known for its functional programming capabilities.
          <br>
          <div style="color: rgb(56, 159, 233);">READ MORE</div>
      </div>
      <div class="divider">
        <p class="lead">
          <h1 class="display-12 fw-bold lh-1">Key Principles of Functional Programming for Data Engineering</h1>
          <div style="font-style: italic;">Published on April 12, 2023</div>
          <br>
          Before we dive into the nitty-gritty details of Scala and functional programming, let's lay the foundation. In this post, we'll explore the key principles of functional programming and discuss how they play a crucial role in designing reproducible data pipelines at scale. Whether you're a data engineer or just passionate about clean and maintainable code, understanding these principles is a must.
          <br>
          <div style="color: rgb(56, 159, 233);">READ MORE</div>
      </div>
      <div class="divider">
        <p class="lead">
          <h1 class="display-12 fw-bold lh-1">Learning Scala: An Odyssey of Challenges and Insights</h1>
          <div style="font-style: italic;">Published on April 19, 2023</div>
          <br>
          Learning a new programming language is often a journey filled with challenges and revelations. Join us in this post as we delve into a personal anecdote from our protagonist's first three months of writing Scala code. Discover the struggles, breakthroughs, and "aha!" moments that come with adapting to a new paradigm and language syntax.
          <br>
          <div style="color: rgb(56, 159, 233);">READ MORE</div>
      </div>
      <div class="divider">
        <p class="lead">
          <h1 class="display-12 fw-bold lh-1">Designing Functional Data Pipelines: The Role of Higher-Order Functions</h1>
          <div style="font-style: italic;">Published on April 26, 2023</div>
          <br>
          Higher-order functions – they sound complex, but they're an essential tool in the functional programmer's arsenal. In this post, we'll build upon our understanding of functional programming principles and explore how higher-order functions can be used in the design of efficient and elegant data pipelines. Whether you're a data engineer or simply curious about harnessing the power of functions, this post is for you.
          <br>
          <div style="color: rgb(56, 159, 233);">READ MORE</div>
      </div>
      <div class="divider">
        <p class="lead">
          <h1 class="display-12 fw-bold lh-1">Functional Data Pipeline Design: Lessons from Tech Conferences</h1>
          <div style="font-style: italic;">Published on May 3, 2023, 2023</div>
          <br>
          What can tech conferences teach us about designing functional data pipelines? As it turns out, quite a lot! Join us as we draw inspiration from the experiences of our protagonist, who faced both triumphs and tribulations while delivering talks on functional data pipeline design. Learn how real-world scenarios and lessons from the conference stage can shape your approach to building robust data pipelines.
          <br>
          <div style="color: rgb(56, 159, 233);">READ MORE</div>
      </div>

    </div>
  </div>
</div>
